  .App {
    display: grid;
    grid-template-columns: 32% 65%;
    max-width: 66.875rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    padding: 1rem;
    border-right: 0.5px solid #ddd;
    margin-right: 2rem;
    
  }

  .about__intro___avatar {
    border-radius: 50%;
    background-clip: padding-box;
    padding: .1875rem;
    border: 1px solid #e0d8d8;
    margin-bottom: 1.5rem;
  }

  .about__intro___avatar:hover {
    background-color: #5eaee6;
  }

  .about__intro___text {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .about__media {
    margin-bottom: 2rem;
  }

  .icon:hover {
    cursor: pointer;
    color: #1c9cf6 !important;
  }

  div > span {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .165rem; 
    line-height: normal;
  }

  div > p {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    color: #888;
    line-height: 1.625rem;
  }
  
  .weather-app {
    text-align: center;
    background-color:#e8fafd;
    font-size: 16px;
    width: 800px;
    height: 800px;
    margin: auto;
    position: relative;
    border-radius: 20px;
  }
  
  .container {
    font-family: monospace;
    font-size: 16px;
    background-image: linear-gradient(#56c9efc9, #5eaee6);
    width: 690px !important;
    height: 60%;
    margin-top:7rem;
    border-radius: 1rem;
  }
  
  .top-weather {
    border-bottom: solid 0.8px gray;
  }
  
  .small-image {
    width: 50%;
    height: auto;
    margin-bottom: 2px;
  }
  
  .search-bar {
    position: absolute;
    width: 30%;
    right: 1rem;
    top: 1.7rem;
  }
  
  .single-day :hover {
    background-color: #1c9cf6;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #1c9cf6;
    border-radius: 10px;
  }
  